[Unit]
Description=Puma HTTP Server
After=network.target
Requires=network.target

[Service]
Type=simple
User=appuser
Group=appuser
ExecStart=/usr/local/bin/puma -C /var/lib/gems/2.3.0/gems/puma-3.10.0/lib/puma.rb --dir /home/appuser/reddit
Restart=always

[Install]
WantedBy=multi-user.target
